@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "comexprimary";
        font-weight: 500;
        src: url('../fonts/HelveticaMedium.woff2') format('woff2'),
            url('../fonts/HelveticaMedium.woff') format('woff');
    }

    @font-face {
        font-family: "comexsecondary";
        font-weight: 300;
        src: url('../fonts/HelveticaUltraLight.woff2') format('woff2'),
            url('../fonts/HelveticaUltraLight.woff') format('woff');
    }
}
p{
    font-family: 'Spartan';
}
/* navigation */
.scrolledNav {
    order: 1;
}

.carousel-caption {
    bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 100%;
    left: 0% !important;
    right: 0% !important;
}

.carousel-indicators [data-bs-target] {
    width: 33% !important;
    display: none !important;
}

.carousel-indicators {
    bottom: 80px;
    display: none !important;
}

.projectsInn>div {
    padding: 0px !important;
}

.projects:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 50%;
    background: #f8a428;
    background-size: cover;
}

.projectImg>span {
    transition: all 5s linear;
}

.projCapBtm {
    display: none;
    transition: all 5s linear;
}

.projectImg:hover>span>.projCapBtm {
    display: block;
}
.featuredInn{
    text-transform: uppercase;
}
.featList li a{
    font-size:16px;
    text-decoration:underline;
}
.featList li a:hover{
    color: #fff;
}
.featuredLinks a{
    display: inline-block;
    width: 150px;
    padding:8px 15px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
    margin-right: 15px;
    text-align: center;
}
.featuredLinks a:hover{
    background-color:transparent;
    color: #000000;
}
/*  */
.comexLine {
    position: absolute;
    margin-top: 22px;
    height: 1px;
    width: 100%;
    z-index: -1;
    background: #f8a428;
}

.whyList li:nth-child(odd) {
    color: #f8a428;
}
.comexLinetwo{
     position: absolute;
     margin-top: 12px;
     height: 1px;
     width: 100%;
     z-index: -1;
     background: #f8a428;
}
.processInn {
    min-height: 400px;
    background-color: #f8a428;
    padding: 60px 15px 30px;
}

.processInn h1 {
    color: #000000;
    margin-top: 8%;
    margin-bottom: 8%;
}

.processInn p {
    color: #fff;
}

.processInn:nth-child(odd) {
    background-color: #000000;
}

.processInn:nth-child(odd) h1 {
    color: #f8a428;
}

.process::-webkit-scrollbar {
    display: none;
}

.testBack {
    background-image: url(../../static/imgs/sliderone.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

.testQuote {
    font-size: 18em;
    z-index: 0;
}

.testCont::-webkit-scrollbar {
    display: none;
}
/* contact page */
.contact-heading{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 75px;
}
.contact-heading>h1>strong{
    min-width:280px;
    position: relative;
    display: block;
    font-size: 54px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.contact-heading>h1>span{
    min-width:230px;
        font-size: 28px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 0.010em;
        color: #fff;
        display: inline-block;
        margin: 10px 0 0;
        position: relative;
        text-align: right;
}
.contact-heading > h1 > span::after{
    content: '';
    display: block;
    height: 2px;
    width: 180px;
    position: absolute;
    text-align: right;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: white;
}
.specHeading>h1>span{
    min-width: 270px;
    text-align: right;
}
.specHeading >h1>span::after {
width: 130px;
}
/* process page */
.processMain{
    min-height:680px;
}
.processMain:before{
content: '';
display: block;
position: absolute;
z-index: -1;
left: 0;
top: 0;
width: 100%;
height: 300px;
background: #000000;
background-size: cover;
}
.processTwoInn{
    width: 30%;
    min-height: 400px;
    padding: 60px 15px 30px;

}
.processTwoInn > div{
    max-width: 300px;
    margin: 0 auto;
}
.processTwoInn p{
    color: #fff;
}
.processTwoInn:nth-child(odd) {
    background-color: #000000;
}
.processTwoInn:nth-child(odd) h1{
    color: #f8a428;
    margin-top: 30px;
    margin-bottom: 30px;
}
.processTwoInn:nth-child(even) {
    background-color: #f8a428;
}
.processTwoInn:nth-child(even) h1{
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}
.processTwoInn:first-child {
    min-width:100%;
    margin-top:25px;
    margin-bottom: 25px;
    min-height:250px;

}
.processTwoInn:first-child h1{
    margin-top: 15px;
    margin-bottom: 20px;
}
.processTwoInn{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.processTwoInn:first-child>div{
    min-width: 100%;
    width:100%;
    display:grid;
    grid-template-columns: 30% auto;
}
.processTwoInn img{
    margin-top:30px;
}
.processTwoInn .viewLink {
    display:none;
}
.processTwoInn:first-child .viewLink {
    display: inline-block;
    padding: 10px;
    background-color:#f8a428;
    color:#fff;
    border-radius:5px;
    margin-top:15px;
    
}
/* single property */
.propLinks a{
    display: block;
    padding: 10px 15px;
    background-color: #f8a428;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
.propLinks a:hover{
    background-color:#ffc551;
}
.propShare h3{
    margin-top:20px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.020em;
    color: #f8a428;
}
.propShare >ul >li{
    color: #000;
}
.propShare>ul>li:hover{
    color: #f8a428;
}
.similarProp > div{
    min-width: 400px;
}
.similarProp::-webkit-scrollbar {
    display: none;
}
.propRight ul li{
    color: #eee;
        font-size: 18px;
        letter-spacing: 0.025em;
        text-transform: capitalize;
}
.propRight ul li span{
    color: #fff;
}
.propRight a{
    margin-top:15px;
    padding:10px 15px;
    border: 2px solid transparent;
        display: inline-block;
        max-width: 300px;
        font-family: 'Spartan';
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.025em;
        text-transform: uppercase
}
.propRight a:hover{
border-color: #fff;
}
/* gallery */
.css-zjq1i3{
    margin: 0 auto;
}
/* search widget */
.searchCont{
    min-height:300px;
}
/* .searchCont:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 40%;
    height: 350px;
    background:#f8a428;
    background-size: cover;
} */
.searchRight{
    padding: 3.75vw 2.8125vw;
}
/* feature showcase */
.feature h6{
    margin-top:15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.feature h3{
    margin-top:12px;
    letter-spacing: 0.03em;
    font-size: 22px;
    text-transform: uppercase;
}
.featList li{
    margin-top:15px;
    margin-bottom:10px;
}
.featList li p:last-child{
    font-size:14px;
}
.popUpForm input, select, textarea{
    box-shadow: none !important;
}
.popUpForm{
    font-style: italic;
    font-size:13px;
}
.myChexks{
    max-width: 30%;
}
/* footer */
.logo {
    margin-right: 0px;
}

@media only screen and (min-width: 992px) {
    .projects:before{
        height: 100%;
    }
    .carousel-indicators {
        bottom: 80px;
        justify-content: space-evenly !important;
        margin-right: 8%;
        margin-left: 8%;
    }

    .mobileHeader {
        display: none;
    }

    .mmenu {
        display: none;
    }
    .propertyTop{
        display:flex;
        justify-content:space-between;
    }
    .propRight{
        min-width: 600px;
        z-index: 8;
        padding: 55px;
        max-height: 500px;
    }
    .propLeft{
        padding: 0 95px 0 64px;
    }
    .propLeft p{
        font-family: 'Spartan';
        color: #000;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.025em;
        text-align:justify;
    }
    .propertyTop:after {
        z-index: 1;
        content: '';
        position: absolute;
        background-color: #ffc551;
        min-height: 100%;
        width: 20%;
        top: 0;
        right:0;
    }
    .searchLeft{
        max-width: 500px;
    }
}
/* breadcrumbs */
.breadcrubs li a:hover{
    color: #000
}
@media only screen and (max-width:991px) {
    .headerlarge {
        display: none;
    }
    .propRight{
        padding: 55px 15px;
    }
    .mobileHeader {
        background-color: #fff;
        padding: 15px;
    }

    .projects:before {
        width: 100%;
        height: 100%;
    }

    .vidWhy {
        padding: 20px;
    }
    .contBtm{
        padding-bottom: 30px;
    }
    .contLogo{
        margin: 30px auto;
    }
    .searchCont:before{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .processTwo{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
}
@media only screen and (max-width:767px) {
    .logo img {
        margin: 0px auto 15px;
    }
    .carousel-caption{
        padding-bottom: 0px;
        padding-top: 0px
    }
    .carousel-indicators{
           margin-bottom: -1rem;
    }
    .copy {
        text-align: center;
    }
    .processTwoInn{
        width: 100%;
        margin-bottom: 30px;
    }
    .processTwoInn:first-child{
        margin-bottom: 50px;
    }
    .similarProp>div {
        min-width: 300px;
    }
     .propRight{
         padding:55px 20px;
     }
     .footerTop ul li{
         margin-bottom:15px;
     }
}