@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "comexprimary";
        font-weight: 500;
        src: url('../fonts/HelveticaMedium.woff2') format('woff2'),
            url('../fonts/HelveticaMedium.woff') format('woff');
    }

    @font-face {
        font-family: "comexsecondary";
        font-weight: 300;
        src: url('../fonts/HelveticaUltraLight.woff2') format('woff2'),
            url('../fonts/HelveticaUltraLight.woff') format('woff');
    }
}

.carousel-caption {
    width: 100%;
    left: 0% !important;
    right: 0% !important;
}

.carousel-indicators [data-bs-target] {
    width: 33% !important;
}

.carousel-indicators {
    bottom: 80px;
}

.projectsInn {
    min-height: 680px;
}

.projectsInn>div {
    padding: 0px !important;
}

.projects:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 42%;
    height: 680px;
    background: #f8a428;
    background-size: cover;
}

.projectImg>figcaption {
    transition: all 5s linear;
}

.projCapBtm {
    display: none;
    transition: all 5s linear;
}

.projectImg:hover>figcaption>.projCapBtm {
    display: block;
}

.comexLine {
    position: absolute;
    margin-top: 22px;
    height: 1px;
    width: 100%;
    z-index: -1;
    background: #f8a428;
}

.whyList li:nth-child(odd) {
    color: #f8a428;
}

.processInn {
    min-height: 400px;
    background-color: #f8a428;
    padding: 30px 15px;
}

.processInn h1 {
    color: #000000;
    margin-top: 8%;
    margin-bottom: 8%;
}

.processInn p {
    color: #fff;
}

.processInn:nth-child(odd) {
    background-color: #000000;
}

.processInn:nth-child(odd) h1 {
    color: #f8a428;
}

.process::-webkit-scrollbar {
    display: none;
}

.testBack {
    background-image: url(../../static/imgs/sliderone.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

.testQuote {
    font-size: 18em;
    z-index: 0;
}

.testCont::-webkit-scrollbar {
    display: none;
}

/* footer */
.logo {
    margin-right: 0px;
}

@media only screen and (min-width: 992px) {
    .carousel-indicators {
        bottom: 80px;
        justify-content: space-evenly !important;
        margin-right: 8%;
        margin-left: 8%;
    }

    .mobileHeader {
        display: none;
    }

    .mmenu {
        display: none;
    }
}

@media only screen and (max-width:991px) {
    .headerlarge {
        display: none;
    }

    .mobileHeader {
        background-color: #fff;
        padding: 15px;
    }

    .projects:before {
        width: 100%;
        height: 433px;
    }

    .whyVid {
        padding: 15px;
    }


}

@media only screen and (max-width:768px) {
    .logo img {
        margin: 0px auto 15px;
    }

    .copy {
        text-align: center;
    }
}